.top_sect {
    background-color: #fff;
  }
  .top_bar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  .ul-icon {
    display: flex;
    justify-content: space-between;
  }
  .navbar-brand {
    border-right: 1px solid #999;
    padding-right: 20px;
    padding-left: 10px;
  }
  .navbar mat-icon {
    margin-top: 5px;
  }
  
  .top_bar li {
    display: inline-block;
    padding: 3px 8px;
    font-size: 12px;
    color: #888;
  }
  .top_bar a {
    text-decoration: none;
    color: #888;
  }
  .logo_sect {
    background-color: #fff;
  }
  .logo_section {
    display: flex;
    justify-content: space-between;
  }
  .logo_left {
    padding: 10px;
  }
  .logo_left img {
    width: 100px;
    padding: 10px;
  }
  .logo_left button {
    padding: 5px;
    background-color: #ffd93d;
    border: none;
  }
  .logo_right {
    width: 400px;
  }
  .logo_right span {
    font-size: 10px;
    color: #999;
  }
  .logo_right p {
    font-size: 13px;
    font-weight: 600;
  }
  
  .search-input {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 50px; /* Adjust the padding as needed */
    background-image: url("../assets/images/svg/search.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px; /* Adjust the size of the SVG icon */
    border: none;
    width: 300px;
  }
  mat-icon {
    margin-top: 10px;
  }
  .navbar-section {
    border: 1px solid #f0ebeb;
    box-shadow: 1px 1px 1px #f0ebeb;
    background-color: #fff;
  }
  .carousel-caption {
    text-align: left !important;
    bottom: 100px !important;
    left: 10% !important;
  }
  .slider_sect {
    padding: 10px 10px;
  }
  .two-content {
    display: flex;
    padding: 20px 0px 0px 0px;
  }
  .three_col {
    padding-bottom: 30px;
  }
  .two_cont {
    border-top: 1px solid rgb(224, 223, 223);
  }
  .left-content {
    padding: 10px;
  }
  .right-content {
    padding: 10px;
  }
  .box-row h6 {
    font-size: 13px;
    font-weight: 700;
  }
  .star-rating .star.filled {
    color: #ffd93d;
  }
  .carousel-caption h5,
  .carousel-caption h2 {
    color: #000;
    font-weight: 700;
    margin: 10px;
  }
  .carousel-caption h5 {
    background-color: #ffd93d;
    width: 100%;
    display: initial;
    padding: 5px;
  }
  .carousel-caption p {
    color: #888;
    margin: 10px;
    margin-bottom: 30px;
  }
  .carousel-caption a {
    text-decoration: none;
    color: #fff;
    background-color: #00ffca;
    padding: 10px 20px;
    margin: 10px;
  }
  .carousel-indicators > li {
    border-radius: 50%;
    width: 20px;
    height: 18px;
  }
  .carousel-indicators .active {
    background-color: #00ffca;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  
  .grid-item {
    border: 1px solid rgb(239, 234, 234);
    padding: 15px;
    text-align: center;
  }
  .grid-item img {
    width: 40px;
  }
  .grid-item p {
    font-size: 10px;
    color: #888;
  }
  .grayscale {
    filter: grayscale(100%);
  }
  .brands-logo {
    padding: 20px 0px;
  }
  .two-head {
    display: flex;
    justify-content: space-between;
  }
  .slick-slider {
    width: 88%;
    margin: auto;
    background: rgb(14, 13, 13);
  }
  
  body .slick-prev,
  body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
  }
  .two-card-sect {
    padding: 20px;
  }
  
  .motor-oil-sect {
    background-image: url("../assets/images/banner1.jpeg");
    background-size: cover;
    padding: 20px;
    margin: 20px;
  }
  .motor-oil-sect h4 {
    color: #ffd93d;
  }
  
  .second-card h4 {
    background-color: #ffd93d;
    color: #000;
    display: initial;
    padding: 2px;
  }
  .second-card p,
  .motor-oil-sect p {
    color: #fff;
  }
  .second-card a,
  .motor-oil-sect a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(253, 65, 65);
    border-radius: 5px;
    padding: 8px;
  }
  .second-card {
    position: absolute;
    background-image: url("../assets/images/banner2.jpeg");
    background-size: cover;
    padding: 20px;
    margin: 20px;
    z-index: -1;
  }
  .text-only {
    position: relative;
    overflow: hidden;
  }
  
  .text-only::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(7, 6, 6, 0.7), rgba(0, 0, 0, 0));
    z-index: 0;
  }
  .box-row svg {
    float: right;
  }
  .top-rated-content li {
    list-style-type: none;
  }
  .top-rated-content ul {
    padding-left: 0px;
  }
  .strikethrough {
    text-decoration: line-through;
    color: #999;
  }
  
  .text-only .content {
    position: relative;
    z-index: 2;
    color: white;
  }
  .three-column img {
    width: 90px;
  }
  footer {
    background-color: #333;
    padding: 30px 10px;
  }
  footer h4 {
    color: #fff;
  }
  footer a {
    text-decoration: none;
    color: #888;
  }
  footer ul {
    padding-left: 0px;
  }
  footer li {
    list-style-type: none;
    color: #888;
  }
  footer p {
    color: #888;
  }
  footer input[type="text"] {
    width: 150px;
    padding: 8px;
    border: none;
    background: #999;
  }
  footer button {
    background-color: #00ffca;
    color: #fff;
    padding: 9px;
    margin: 6px;
    border: none;
  }
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
    .box-row {
      background: #fff;
      padding: 10px;
      margin: 8px;
      box-shadow: 1px 1px 1px #f0ebeb;
    }
    .top_sect {
      display: none;
    }
    .logo_right {
      display: none;
    }
  }
  
  @media (min-width: 768px) {
    .box-row {
      background: #fff;
      padding: 10px;
      margin: 8px;
      height: 120px;
      box-shadow: 1px 1px 1px #f0ebeb;
    }
  }
  .address-details h6 {
    font-size: 10px;
    color: #999;
  }
  .address-details p {
    font-size: 10px;
    color: #fff;
  }
  .bottom_bar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  .bottom_bar p {
    color: #999;
  }
  .bottom_bar span {
    color: #fff;
  }
  .bottom_sect {
    background-color: #222;
    padding-top: 7px;
    padding: 5px;
  }
  